<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio Clase 21</title>
</head>
<body>
    <h1>Desafio Clase 21</h1>
    <h2>Refactor a nuestro login</h2>
    {{{body}}}
</body>
</html>